.footer{
    margin-top: 10px;
    background-color: maroon;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo{
    float: left;
    font-size: 32px;
}

.footer-nav{
    float: right;
    padding-bottom: 20px;
}

.footer-nav li{
    list-style: none;
}