.contact-form{
    padding-top: 50px;
}

input, textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 2px solid #dee7ec;
}

.contact-submit{
    background-color: #dde7ec;
    color:#889eab;
}